@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

html,
body,
#bloc_page {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: "Architects Daughter", cursive;
  color: #9356dc;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 2px solid #9356dc;
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  transition: all 300ms;
}

.btn:hover,
.btn:focus {
  background-color: #9356dc;
  color: #fff;
}

.btn:active {
  box-shadow: 2px 2px 10px black;
  transition: box-shadow 0ms;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e9f1;
  padding: 20px 0;
  box-shadow: 2px 0px 10px #782cd3;
}
.header__logo {
  width: calc(100% - 450px);
}
.header__logo a:hover > img,
.header__logo a:active > img,
.header__logo a:focus > img {
  transform: scale(1.2);
  transition: transform 300ms;
}
.header__logo img {
  width: 350px;
  height: 100px;
  transform: scale(1);
  transition: transform 300ms;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.header nav a {
  padding: 0 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.main h1 {
  width: 80%;
  text-align: center;
  background-color: #f3e9f1;
  border: 2px solid #9356dc;
  box-shadow: 5px 5px 20px #782cd3;
  padding: 0 20px;
  border-radius: 50px;
}

.footer {
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.footer a {
  margin: 0 40px;
  padding: 10px 15px;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-list .item {
  border: 5px solid #9356dc;
  background-color: #f3e9f1;
  box-shadow: 5px 5px 20px #782cd3;
  border-radius: 50px;
  margin: 15px auto;
  display: flex;
  width: 60%;
  height: 400px;
  transform: scale(1);
  transition: transform 300ms;
}
.item-list .item:hover, .item-list .item:active, .item-list .item:focus {
  transform: scale(1.2);
  transition: transform 300ms;
  z-index: 1;
}
.item-list .item__figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-list .item__figure--reverse {
  flex-direction: row-reverse;
}
.item-list .item__figure__img {
  width: 35%;
  height: 80%;
  object-fit: cover;
  border: solid 2px #9356dc;
  border-radius: 50px;
}
.item-list .item__figure__desc {
  width: 55%;
  height: 80%;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 0 50px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #9356dc;
  width: 80%;
  height: 600px;
  border-radius: 50px;
  background-color: #f3e9f1;
  padding: 20px 30px;
}
.product #img-product {
  width: 60%;
  height: 100%;
}
.product #img-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 0 0 50px;
}
.product .description {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #fff;
  border-radius: 0 50px 50px 0;
  padding-left: 20px;
}
.product .description h2 {
  font-size: 2rem;
}
.product .description p {
  font-size: 1.5rem;
}
.product .description p option {
  font-size: 1.5rem;
}
.product .description .btn {
  width: 80%;
  align-self: center;
}

.formulaire {
  width: 80%;
  background-color: #f3e9f1;
  margin: 10px auto;
}
.formulaire h2 {
  font-size: 2.5rem;
  text-align: center;
}
.formulaire form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.formulaire form fieldset {
  display: flex;
  flex-direction: column;
}
.formulaire form fieldset.contact {
  width: 40%;
}
.formulaire form fieldset.address {
  width: 40%;
  justify-content: space-around;
}
.formulaire form fieldset.current-date {
  width: 40%;
}
.formulaire form fieldset legend {
  font-size: 2rem;
}
.formulaire form fieldset label {
  font-size: 1.5rem;
}
.formulaire form fieldset input {
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
}
.formulaire form .buttons {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaire form .buttons input {
  margin: 0 15px;
  font-size: 1.2rem;
}

.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.recapitulatif,
.thanks {
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  width: 80%;
  margin: 20px 0;
}
.recapitulatif h2,
.thanks h2 {
  font-size: 2rem;
  margin-left: 10px;
}
.recapitulatif p,
.thanks p {
  font-size: 1.5rem;
  margin-left: 20px;
}
.recapitulatif p span,
.thanks p span {
  font-style: italic;
}

.return {
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
