@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Architects Daughter", cursive;
  color: #9356dc;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 2px solid #9356dc;
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  transition: all 300ms;
}

.btn > span {
  transition: all 300ms;
}

.btn:hover,
.btn:focus {
  background-color: #9356dc;
  color: #fff;
}

.btn:active {
  box-shadow: 2px 2px 10px black;
  transition: box-shadow 0ms;
}

.btn:hover > span,
.btn:focus > span {
  color: #fff;
  transition: all 300ms;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e9f1;
  padding: 20px 0;
  box-shadow: 2px 0px 10px #782cd3;
}
.header__logo {
  width: calc(100% - 450px);
}
.header__logo a:hover > img,
.header__logo a:active > img,
.header__logo a:focus > img {
  transform: scale(1.2);
  transition: transform 300ms;
}
.header__logo img {
  width: 350px;
  height: 100px;
  transform: scale(1);
  transition: transform 300ms;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.header nav a {
  padding: 0 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.main h1 {
  margin: 20px 0;
  width: 80%;
  text-align: center;
  background-color: #f3e9f1;
  border: 2px solid #9356dc;
  box-shadow: 5px 5px 20px #782cd3;
  padding: 0 20px;
  border-radius: 50px;
}

.footer {
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.footer a {
  margin: 0 40px;
  padding: 10px 15px;
}

.item-select {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 50px 0;
}
.item-select .btn {
  padding: 0 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.item-list__item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 350px;
  border: 3px solid #9356dc;
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
}
.item-list__item__img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.item-list__item__desc {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.item-list__item__desc__heading {
  font-size: 2.5rem;
}
.item-list__item__desc__txt {
  font-size: 1.5rem;
  text-align: center;
}
.item-list__item__desc__btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.item {
  width: 70%;
  height: 800px;
  border: 3px solid #9356dc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 20px #782cd3;
}
.item__img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.item__desc {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  border-top: 3px solid #9356dc;
}
.item__desc__heading {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.item__desc__txt {
  width: 100%;
  height: 25%;
  font-size: 1.5rem;
  padding: 0px 10px;
  text-align: center;
}
.item__desc__options {
  width: 50%;
  height: 50%;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item__desc__options__name {
  font-size: 2rem;
  width: 50%;
  height: 25%;
  padding-left: 50px;
}
.item__desc__options__selector {
  font-size: 1.5rem;
  border: 2px solid #9356dc;
  border-radius: 20px;
  width: 50%;
  height: 25%;
}
.item__desc__options__price {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.item__desc__btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.item__desc__btn-div__btn {
  padding: 0 20px;
}

.shopping-list {
  margin-top: 30px;
  width: 90%;
  border: 2px solid #9356dc;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #782cd3;
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shopping-list__heading {
  padding: 20px;
}
.shopping-list__display-items-selected {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shopping-list__display-items-selected__items-selected {
  display: flex;
  width: 45%;
  height: 300px;
  border: solid 2px #9356dc;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
}
.shopping-list__display-items-selected__items-selected__img {
  width: 65%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.shopping-list__display-items-selected__items-selected__desc {
  width: 35%;
  height: 100%;
  border-left: 2px solid #9356dc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.shopping-list__display-items-selected__items-selected__desc__btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.shopping-list__display-items-selected__items-selected__desc__btn:hover > i, .shopping-list__display-items-selected__items-selected__desc__btn:focus > i, .shopping-list__display-items-selected__items-selected__desc__btn:active > i {
  color: #f3e9f1;
}
.shopping-list__display-items-selected__items-selected__desc__quantity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.shopping-list__display-items-selected__items-selected__desc__quantity .btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-list__display-items-selected__items-selected__desc__quantity .item-quantity {
  font-size: 1.5rem;
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9356dc;
  background-color: #fff;
  box-shadow: 2px 2px 10px #782cd3;
}
.shopping-list__total {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.shopping-list__total__heading, .shopping-list__total__price {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.formulaire {
  margin: 25px 0;
  padding-top: 10px;
  width: 90%;
  height: 1000px;
  background-color: #f3e9f1;
  border: 2px solid #9356dc;
  box-shadow: 2px 2px 10px #782cd3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulaire h2 {
  font-size: 2.5rem;
}

.form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
.form__contact, .form__address {
  width: 100%;
  height: 40%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__contact legend, .form__address legend {
  font-size: 2rem;
}
.form__contact label, .form__address label {
  font-size: 1.2rem;
}
.form__contact input, .form__address input {
  width: 90%;
  text-align: center;
}
.form__contact span, .form__address span {
  margin: 5px 0;
  border-radius: 20px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20%;
}

.oops {
  margin-top: 10px;
  width: 90%;
  height: 58vh;
}
.oops__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 2px #9356dc;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #782cd3;
}

.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.confirmation h1 {
  font-size: 2.5rem;
}

.summary,
.thanks {
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  width: 80%;
  margin: 20px 0;
}
.summary__heading,
.thanks__heading {
  font-size: 2rem;
  margin-left: 10px;
  text-align: center;
}

.thanks__text {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
}
.thanks__text span {
  font-weight: bold;
}

.summary {
  display: flex;
  flex-wrap: wrap;
}
.summary__heading {
  width: 100%;
}
.summary__order-id {
  width: 100%;
  text-align: center;
}
.summary__items {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.summary__items__item {
  width: 40%;
  height: 200px;
  border: 2px solid #9356dc;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  display: flex;
  margin: 15px 0;
}
.summary__items__item__img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.summary__items__item__desc {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.summary__items__item__desc h3 {
  font-size: 1.3rem;
}
.summary__items__item__desc p {
  font-size: 1rem;
  margin: 2px 0;
}
.summary__items__item__desc__option {
  font-weight: bold;
  font-style: italic;
}
.summary__total {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 0;
}

.return {
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
