@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Architects Daughter", cursive;
  color: #9356dc;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 2px solid #9356dc;
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  transition: all 300ms;
}

.btn:hover,
.btn:focus {
  background-color: #9356dc;
  color: #fff;
}

.btn:active {
  box-shadow: 2px 2px 10px black;
  transition: box-shadow 0ms;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e9f1;
  padding: 20px 0;
  box-shadow: 2px 0px 10px #782cd3;
}
.header__logo {
  width: calc(100% - 450px);
}
.header__logo a:hover > img,
.header__logo a:active > img,
.header__logo a:focus > img {
  transform: scale(1.2);
  transition: transform 300ms;
}
.header__logo img {
  width: 350px;
  height: 100px;
  transform: scale(1);
  transition: transform 300ms;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.header nav a {
  padding: 0 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.main h1 {
  margin: 20px 0;
  width: 80%;
  text-align: center;
  background-color: #f3e9f1;
  border: 2px solid #9356dc;
  box-shadow: 5px 5px 20px #782cd3;
  padding: 0 20px;
  border-radius: 50px;
}

.footer {
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.footer a {
  margin: 0 40px;
  padding: 10px 15px;
}

.item-select {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 50px 0;
}
.item-select .btn {
  padding: 0 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.item-list__item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 350px;
  border: 3px solid #9356dc;
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
}
.item-list__item__img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.item-list__item__desc {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.item-list__item__desc__heading {
  font-size: 2.5rem;
}
.item-list__item__desc__txt {
  font-size: 1.5rem;
  text-align: center;
}
.item-list__item__desc__btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.display-item__item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 350px;
  border: 3px solid #9356dc;
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
}
.display-item__item__img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.display-item__item__desc {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.display-item__item__desc__heading {
  font-size: 2.5rem;
}
.display-item__item__desc__txt {
  font-size: 1.5rem;
  text-align: center;
}
.display-item__item__desc__btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulaire {
  width: 80%;
  background-color: #f3e9f1;
  margin: 10px auto;
}
.formulaire h2 {
  font-size: 2.5rem;
  text-align: center;
}
.formulaire form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.formulaire form fieldset {
  display: flex;
  flex-direction: column;
}
.formulaire form fieldset.contact {
  width: 40%;
}
.formulaire form fieldset.address {
  width: 40%;
  justify-content: space-around;
}
.formulaire form fieldset.current-date {
  width: 40%;
}
.formulaire form fieldset legend {
  font-size: 2rem;
}
.formulaire form fieldset label {
  font-size: 1.5rem;
}
.formulaire form fieldset input {
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
}
.formulaire form .buttons {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaire form .buttons input {
  margin: 0 15px;
  font-size: 1.2rem;
}

.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.recapitulatif,
.thanks {
  background-color: #f3e9f1;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #782cd3;
  width: 80%;
  margin: 20px 0;
}
.recapitulatif h2,
.thanks h2 {
  font-size: 2rem;
  margin-left: 10px;
}
.recapitulatif p,
.thanks p {
  font-size: 1.5rem;
  margin-left: 20px;
}
.recapitulatif p span,
.thanks p span {
  font-style: italic;
}

.return {
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
