.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .item {
    border: 5px solid $clr-primary;
    background-color: $clr-secondary;
    box-shadow: 5px 5px 20px lightness-shift($clr-primary);
    border-radius: 50px;
    margin: 15px auto;
    display: flex;
    @include size(60%, 400px);
    transform: scale(1);
    transition: transform 300ms;
    &:hover,
    &:active,
    &:focus {
      transform: scale(1.2);
      transition: transform 300ms;
      z-index: 1;
    }
    &__figure {
      margin: 0;
      @include size(100%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      &--reverse {
        flex-direction: row-reverse;
      }
      &__img {
        @include size(35%, 80%);
        object-fit: cover;
        border: solid 2px $clr-primary;
        border-radius: 50px;
      }
      &__desc {
        @include size(55%, 80%);
        border: 2px solid $clr-black;
        border-radius: 50px;
        padding: 0 50px;
      }
    }
  }
}
