//center element

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//declare width and height size

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

//declare min-width for a media query

@mixin media($min-width) {
  @media only screen and (max-width: $min-width) {
    @content;
  }
}
