.confirmation {
  @include center;
  flex-direction: column;
  width: 100%;
  h1 {
    font-size: 2.5rem;
  }
}
.summary,
.thanks {
  background-color: $clr-secondary;
  border-radius: 20px;
  box-shadow: 2px 2px 10px lightness-shift($clr-primary);
  width: 80%;
  margin: 20px 0;
  &__heading {
    font-size: 2rem;
    margin-left: 10px;
    text-align: center;
  }
}
.thanks {
  &__text {
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
    span {
      font-weight: bold;
    }
  }
}
.summary {
  display: flex;
  flex-wrap: wrap;
  &__heading {
    width: 100%;
  }
  &__order-id {
    width: 100%;
    text-align: center;
  }
  &__items {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__item {
      @include size(40%, 200px);
      border: 2px solid $clr-primary;
      border-radius: 20px;
      box-shadow: 2px 2px 10px lightness-shift($clr-primary);
      display: flex;
      margin: 15px 0;

      &__img {
        @include size(50%, 100%);
        object-fit: cover;
        border-radius: 20px 0 0 20px;
      }
      &__desc {
        @include size(50%, 100%);
        @include center;
        flex-direction: column;
        h3 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
          margin: 2px 0;
        }
        &__option {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }
  &__total {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 0;
  }
}
.return {
  padding: 0 10px;
}

@include media(1000px) {
  .confirmation {
    h1 {
      font-size: 1.5rem;
    }
  }
  .summary {
    &__items {
      &__item {
        width: 100%;
        height: 150px;
        &__desc {
          h3 {
            text-align: center;
          }
        }
      }
    }
  }
}
