.shopping-list {
  margin-top: 30px;
  width: 90%;
  border: 2px solid $clr-primary;
  border-radius: 20px;
  box-shadow: 2px 2px 20px lightness-shift($clr-primary);
  background-color: $clr-secondary;
  @include center;
  flex-direction: column;
  &__heading {
    padding: 20px;
  }
  &__display-items-selected {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__items-selected {
      display: flex;
      @include size(25%, 200px);
      border: solid 2px $clr-primary;
      margin: 20px 20px;
      border-radius: 20px;
      box-shadow: 2px 2px 10px lightness-shift($clr-primary);
      &__img {
        @include size(55%, 100%);
        border-radius: 20px 0 0 20px;
        object-fit: cover;
      }
      &__desc {
        @include size(45%, 100%);
        border-left: 2px solid $clr-primary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &__btn {
          @include size(60px);
          border-radius: 50%;
        }
        &__btn:hover > i,
        &__btn:focus > i,
        &__btn:active > i {
          color: $clr-secondary;
        }
        &__quantity {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          .btn {
            @include size(30px);
            @include center;
          }
          .item-quantity {
            font-size: 1.5rem;
            @include size(50px, 25px);
            @include center;
            border: 1px solid $clr-primary;
            background-color: $clr-white;
            box-shadow: 2px 2px 10px lightness-shift($clr-primary);
          }
        }
        &__trash {
          font-size: 1.2rem;
          @include size(35px);
          @include center;
        }
      }
    }
  }
  &__total {
    @include size(80%, 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__heading,
    &__price {
      @include size(40%, 50%);
      @include center;
      font-size: 2rem;
    }
  }
}
.formulaire {
  margin: 25px 0;
  padding-top: 10px;
  width: 90%;
  background-color: $clr-secondary;
  border: 2px solid $clr-primary;
  box-shadow: 2px 2px 10px lightness-shift($clr-primary);
  border-radius: 20px;
  @include center;
  flex-direction: column;
  h2 {
    font-size: 2.5rem;
  }
}

.form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  &__contact,
  &__address {
    @include size(100%, 250px);
    border-radius: 20px;
    margin: 10px 0;
    legend {
      font-size: 2rem;
    }
    @include center;
    flex-direction: column;

    label {
      font-size: 1.2rem;
    }
    input {
      width: 90%;
      text-align: center;
    }
    span {
      margin: 5px 0;
      border-radius: 20px;
      color: red;
      @include center;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

.oops {
  margin-top: 10px;
  @include size(90%, 58vh);
  &__img {
    @include size(100%);
    object-fit: cover;
    border: solid 2px $clr-primary;
    border-radius: 20px;
    box-shadow: 2px 2px 20px lightness-shift($clr-primary);
  }
}

@include media(1350px) {
  .shopping-list__display-items-selected {
    &__items-selected {
      @include size(40%, 200px);
      &__img {
        @include size(30%, 100%);
      }
      &__desc {
        @include size(70%, 100%);
      }
    }
  }
  .buttons {
    flex-wrap: wrap;
    .btn {
      margin: 10px 0;
    }
  }
}

@include media(1000px) {
  .shopping-list {
    &__display-items-selected {
      &__items-selected {
        @include size(100%, 150px);
      }
    }
    &__total {
      width: 100%;
      &__heading {
        width: 50%;
      }
    }
  }
}

@include media(900px) {
  .buttons {
    .btn {
      width: 100%;
    }
  }
}

@include media(650px) {
  .shopping-list__total {
    flex-direction: column;
    &__heading {
      width: 100%;
    }
  }
}

@include media(500px) {
  .form {
    &__contact,
    &__address {
      legend {
        font-size: 1.3rem;
      }
    }
  }
  .buttons {
    .btn {
      font-size: 1.2rem;
    }
  }
}

.valid {
  border: 1px solid green;
  &:focus {
    outline: 1px solid green;
  }
}

.invalid {
  border: 1px solid red;
  &:focus {
    outline: 1px solid red;
  }
}
