//center element

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//display flex

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align: flex-start
) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}
//declare width and height size

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

//declare min-width for a media query

@mixin media($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

//put element in absolute

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//declare text and bg color and invert them in case of hover

@mixin hover-bg(
  $clr-text: $clr-primary,
  $clr-bg: $clr-secondary,
  $clr-text-hover: $clr-bg,
  $clr-bg-hover: $clr-text
) {
  position: relative;
  z-index: 1;
  background: $clr-bg;
  color: $clr-text;
  transition: color 300ms;
  &::after {
    z-index: -1;
    content: "";
    @include absolute;
    background: $clr-text;
    opacity: 0;
    transition: 300ms;
  }
  &:hover {
    color: $clr-bg;
    transition: color 300ms;
    &::after {
      opacity: 1;
      transition: 300ms;
    }
  }
}

//declare text and bg color, invert them in case of hover , active and focus

@mixin hover-bg-active($clr-text: $clr-primary, $clr-bg: $clr-secondary) {
  @include hover-bg($clr-text, $clr-bg);
  &:active,
  &:focus {
    color: lightness-shift($clr-bg);
    &::after {
      background: lightness-shift($clr-text);
      opacity: 1;
    }
  }
}
