.footer {
  background-color: $clr-secondary;
  @include center;
  @include size(100%, 100px);
  margin-top: 20px;
  a {
    margin: 0 40px;
    padding: 10px 15px;
  }
}

@include media(650px) {
  .footer {
    a {
      font-size: 1rem;
    }
  }
}
