.header {
  @include center;
  background-color: $clr-secondary;
  padding: 20px 0;
  box-shadow: 2px 0px 10px lightness-shift();
  &__logo {
    width: calc(100% - 450px);
    a:hover,
    a:active,
    a:focus {
      & > img {
        transform: scale(1.2);
        transition: transform 300ms;
      }
    }
    img {
      @include size(350px, 100px);
      transform: scale(1);
      transition: transform 300ms;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 350px;
    a {
      padding: 0 10px;
    }
  }
}
