.main {
  @include center;
  flex-direction: column;
  margin: 10px 0;
  h1 {
    margin: 20px 0;
    width: 80%;
    text-align: center;
    background-color: $clr-secondary;
    border: 2px solid $clr-primary;
    box-shadow: 5px 5px 20px lightness-shift($clr-primary);
    padding: 0 20px;
    border-radius: 50px;
  }
}

@include media(1000px) {
  .main {
    h1 {
      font-size: 1.5rem;
    }
  }
}
